<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>You're bad at DNS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Check a domain:</h1>
      <form>
        <p>Domain: <input type="text" id="domain" data-placeholder="example.org" /> <input type="submit" class="btn" value="Check" /></p>
      </form>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"></script>
    <script type="text/javascript">
    $("form").submit(function() {
      window.location = '/' + $('#domain').val();
      return false;
    })
    </script>
  </body>
</html>
